/* Approccio desktop-first */
/* tablet */
@media screen and (max-width: 768px) {
    /* header */
    header .container{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .logo-menu{
        display: block;
        display: flex;
        align-items: center;
    }
    /* section aqua-cards */
    .aqua-cards .container{
        width: 100%;
    }
    .card-big{
        flex-direction: column;
        row-gap: var(--g2);
    }
    .card-big>*{
        width: 100%;
    }
    /* section strategic planning */
    .strategic-planning .container-small {
        display: flex;
        flex-direction: column;
        row-gap: var(--g2);
        width: 100%;
    }
    .box-small-1,
    .box-small-2{
        width: 100%;
    }

    /* section expert partners */
    .expert-partners .container{
        width: 100%;
    }

    /* section benefits */
    .benefits .container{
        width: 100%;
    }
    .white-card{
        width: 47%;
    }

    /* section about-us */
    .about-us .container{
        width: 100%;
    }
    /* footer */
    footer .container{
        width: 100%;
        padding: var(--g2);
    }
}




/* smartphone */
@media screen and (max-width: 480px) {
    /* header assume lo stesso comportamento */
    /* section aqua-cards */
    .aqua-cards .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--g1);
    }
    .card-big,
    .card-small{
        width: 100%;
    }
    /* section strategic planning assume lo stesso comportamento*/
    /* section expert partners */
    .expert-partners .container{
        width: 100%;
        padding: var(--g1);
    }
    .user-card{
        flex-direction: column;
    }
    .user-img {
        width: 100%;
        text-align: center;
    }
    .user-img img {
        width: 40vw;
        object-fit: cover;
        border-radius: 50%;
    }
    .user-description {
        width: 100%;
        text-align: center;
    }
    /* section benefit */
    .white-card {
        width: 100%;
    }

    /* section about-us */
    .about-us .container {
        flex-direction: column;    
    }
    .us-text {
        width: 100%;
    }
    .us-user {
        width: 100%;
        text-align: left;
    }
}