/* Approccio desktop-first */
/* tablet */
@media screen and (max-width: 768px) {
    /* header */
    header .container{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .logo-menu{
        display: block;
        display: flex;
        align-items: center;
    }
}
/* smartphone */
@media screen and (max-width: 480px) {
    /* header assume lo stesso comportamento */
}