*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}
p{
	line-height: 25px;
}
/* btn e <a> */
a{
	text-decoration: none;
}
.btn-nav{
	color: white;
}
.btn-nav:hover {
	border-bottom: 2px solid white;
}
.btn-white{
	color: black;
	background-color: white;
	border-radius: 20px;
	padding: 7px 10px ;
}
.btn-white:hover {
	color: lightgrey;
}
.btn-blue{
	color: white;
	background-color: #0084fd;;
	border-radius: 20px;
	padding: 10px 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.btn-blue:hover {
	background-color: #006fd1;
}
.btn-arrow{
	color: black;
	font-size: var(--g2);
	padding: var(--g1);
	background-color: #9a95e4;
	border-radius: 50%;
}
.btn-violet{
	color: white;
	background-color: #9a95e4;
	padding: 3px 10px;
	border-radius: 15px;
	width: 150px;
	text-align: center;
}
.btn-violet:hover{
	background-color: #817cd3;
}