/* header */
header{
    background-color: #0084fd;
    color: white;
}
header>.container{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    column-gap: var(--g2);
}
.logo-menu{
    display: none;
}